.img-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-rounded {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.img-squared {
    width: 15rem;
    height: 15rem;
    border-radius: .6rem;
    object-fit: cover;
}
